<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaclimb.xshopping.mapper.UserInfoMapper">

<!--   实体类映射 -->
    <resultMap id="BaseResultMap" type="com.javaclimb.xshopping.entity.UserInfo">

        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="nickName" jdbcType="VARCHAR" property="nickname" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="birthday" jdbcType="VARCHAR" property="birthday" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="cardId" jdbcType="VARCHAR" property="cardid" />
        <result column="level" jdbcType="INTEGER" property="level" />
        <result column="account" jdbcType="DOUBLE" property="account" />
    </resultMap>

    <sql id="">
        <if test="">

        </if>

    </sql>

    <sql id="Base_Column_List">
        <include refid="Base_Column_List"/>
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        id, name, password, nickName, sex, age, birthday, phone, address, code, email, cardId,
        level, account
    </sql>

    <!--            -->
    <select id="findByName" resultType="com.javaclimb.xshopping.entity.UserInfo">
        select * from user_info where 1=1
        <if test="name !=null and name !='all' and name !=''">
            and `name`=#{name}
            <![CDATA[ and cc >= ss(#{query.cc},'%y-%m-%d'),interval -1 day]]]>

        </if>
    </select>

    <!--               -->
    <select id="checkRepeat" resultMap="java.lang.Integer">

        SELECT <include refid="" /> FROM table <include refid=""/>
        select count(*) from user_info where ${column} = #{value}

        <if test="query.orderBy != null">
            order by ${query.orderBy}
        </if>

        <if test="query.simplePage != null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>

select count(1) from table

<include refid="q"/>

    </select>
    <insert id="id" parameterType="info" useGeneratedKeys="true" keyProperty="">

    </insert>


    <insert id="id" parameterType="type">
        <selectKey keyProperty="bean.id" resultType="integer" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
            INSERT INTO  table

        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.companyId != null">
                company_id,
            </if>

        </trim>

                on DUPLICATE key update

        <foreach collection="list" item="item" separator="," open="(" close=")">
            (
            #{item.},#{item.}
            )
        </foreach>

    </insert>

    <update id="updateById" parameterType="poClass">
        UPDATE  table
        <set>
            <if test="bean.id != null" >
                filedid=#{bean.propreid}
            </if>
        </set>
    </update>

    <delete id="deleteBy"+methodName" parameterType="">

    </delete>


</mapper>


















